body {
	overflow: hidden;
}

canvas {
	display: block;
}

#hurt {
  background-color: red;
  display: none;
  left: 0;
  opacity: 0.15;
  pointer-events: none;
  position: absolute;
  top: 0;
  z-index: 1002;
}

#hud {
  bottom: 10px;
  position: absolute;
  right: 10px;
  z-index: 100;
  color: #F5F787;
  font-family: Helvetica, Arial;
}
